

header{
    font-family: Arial;
    padding-left: 20px;
    
}

body{
    font-family: Arial;
    padding: 20px;

}

footer{
    font-family: Arial, Helvetica, sans-serif;
}

input{
    height: 50px;
    width: 300px;
    border-radius: 20px;

}

button{
    border-radius: 20px;
    margin-left: 10px;
    height: 50px;
}

#itens {
    border-width: 5px;
    border-color: aquamarine;
    background-color: rgb(218, 218, 218);
    height: 300px;
    width: 400px;
}

.linhaItem{
    border-width: 5px;
    border-color: aqua;
    background-color: rgb(152, 136, 136);
}

.rmvButton{
    border-radius: 20px;
    margin-left: 10px;
    height: 20px;
    background-color: ;
    

}

.checkbox {
    height: 15px;
    width: 15px;    
}